.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.loading__container {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  width: 100%;
}
