.gridButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.gridButton__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2;
}

.gridButton__text {
  display: none;

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.gridButton__divider {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--secondary-color);
}

.gridButton__icon {
  display: flex;
  place-items: center center;
}
