.preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  align-items: center;

  padding-bottom: 2rem;
}

.preview__imageContainer {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.preview__image {
  object-fit: contain;
}

.preview__infoContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: $breakpoint-sm) {
    gap: 3rem;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 0.875rem;
  }
}

.preview__caption {
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
}

.preview__closeButton {
  font-size: inherit;
  font-weight: 300;
  line-height: inherit;
  color: var(--primary-color);

  border-bottom: 0.0625rem solid;
}
